
:root {
	--dis-max-width: 700px;
}

@media (prefers-color-scheme: dark) {
	:root {
		--text-color: #F0E0D0;
		--back-color: #100A00;
		--label-color: #FFC0B0;
		--directive-color: #C0FFB0;
		--operand-color: #C0FFB0;
		--comment-color: #A0A0A0;
		--op-symbol-color: #A0A0F0;
	}
}

@media (prefers-color-scheme: light) {
	:root {
		--text-color: black;
		--back-color: white;
		--label-color: red;
		--directive-color: green;
		--operand-color: green;
		--comment-color: aliceblue;
	}
}

body {
	position: relative;
	width: 100%;
	max-width: var(--dis-max-width);
	margin: 0 auto;
	font-family: Lucida, monospace;
	font-size:10pt;
	background: var(--back-color);
	color: var(--text-color);
}

.long-comment {
	white-space: pre;
	color: var(--comment-color);
}


.symbols .symbol {
	display:table-row;
}

.symbols .symbol::before {
	display:table-cell;
	content: attr(label);
	width: 10em;
	max-width: 10em;
	overflow: hidden;
	text-wrap: wrap;
	word-break: break-all;
}

.line {
	position:relative;
	display:block;
	word-break: break-all;
}

.line::after {
	clear:both;
	content:"";
	display: table;
}

.line .label {
	/* display:inline-block; */
	float:left;
	display:block;
	color: var(--label-color);
	width: 100%;
}

.line .opcode {
	display:inline-block;
	float:left;
	width: 6em;
	max-width: 6em;
	margin-left: 4em;
}

.line .opcode.directive {
	color:var(--directive-color);
}

.line .opcode.directive::before {
	display:inline;
	content: ".";
}


.line .operand {
	display:inline-block;
	float:left;
	width: 16em;
	max-width: 16em;
}

.line .operand[type="operand"] {
	color: va;
}

.line .comment {
	display:inline-block;
	float:left;
	color: var(--comment-color);
}

a.op-symbol {
	text-decoration: none;
	color: var(--op-symbol-color);
}